In [ ]:
import sqlite3

In [ ]:
con=sqlite3.connect('customers.db')

In [ ]:
cur=con.cursor()

**Creating a table**

In [ ]:
#NULL
#Integer
#Text
#Real
#Blob

cur.execute("""
          CREATE TABLE IF NOT EXISTS customers (
            first_name text,
            last_name text,
            email text,
            salary number


          )

""")

**Inserting single entries**

In [ ]:
cur.execute("INSERT INTO customers VALUES ('Ahmed', 'Abrar', 'abrar@gmail.com',50000)")

In [ ]:
cur.execute("INSERT INTO customers VALUES ('Khan', 'ALi', 'ALi@gmail.com',60000)")

**Inserting multiple entries**

In [ ]:
data=[
    ('Jabar','Kahn','jabar@gmail.com',8000),
    ('Mehemt','Kahn','mehmet@gmail.com',9000),
    ('Murad','Shah','Murad@gmail.com',3000),
]

In [ ]:
cur.executemany("INSERT INTO customers (first_name,last_name,email,salary) VALUES(?,?,?,?)",data)

In [ ]:
con.commit()

Reterieving Data

In [ ]:
cur.execute("SELECT * FROM Customers")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000), ('Khan', 'ALi', 'ALi@gmail.com', 60000), ('Jabar', 'Kahn', 'jabar@gmail.com', 8000), ('Mehemt', 'Kahn', 'mehmet@gmail.com', 9000), ('Murad', 'Shah', 'Murad@gmail.com', 3000)]

In [ ]:
print(cur.fetchmany(3))

[]

In [ ]:
print(cur.fetchone())

None

**The Where Clause**

In [ ]:
cur.execute("SELECT * FROM Customers WHERE first_name='Ahmed'")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000)]

In [ ]:
cur.execute('SELECT * FROM Customers WHERE salary > 1000')

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000), ('Khan', 'ALi', 'ALi@gmail.com', 60000), ('Jabar', 'Kahn', 'jabar@gmail.com', 8000), ('Mehemt', 'Kahn', 'mehmet@gmail.com', 9000), ('Murad', 'Shah', 'Murad@gmail.com', 3000)]

In [ ]:
cur.execute("SELECT * FROM customers WHERE first_name LIKE 'A%'")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000)]

Updating records

In [ ]:
cur.execute("UPDATE customers SET first_name='Jan' WHERE last_name='ALi'")

In [ ]:
cur.execute("SELECT first_name FROM customers")

In [ ]:
print(cur.fetchall())

[('Ahmed',), ('Jan',), ('Jabar',), ('Mehemt',), ('Murad',)]

Deleting Data

In [ ]:
# deleting 3rd record
cur.execute('DELETE FROM customers WHERE rowid=3')

In [ ]:
cur.execute('SELECT rowid from customers')

In [ ]:
print(cur.fetchall())

[(1,), (2,), (4,), (5,)]

Order By

In [ ]:
cur.execute('SELECT * FROM customers ORDER BY first_name')

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000), ('Jan', 'ALi', 'ALi@gmail.com', 60000), ('Mehemt', 'Kahn', 'mehmet@gmail.com', 9000), ('Murad', 'Shah', 'Murad@gmail.com', 3000)]

AND/OR

In [ ]:
cur.execute("SELECT * FROM customers WHERE first_name='Ahmed' AND salary=50000 ")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000)]

In [ ]:
cur.execute("SELECT * FROM customers WHERE first_name='Ahmed' OR first_name='Jan'")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000), ('Jan', 'ALi', 'ALi@gmail.com', 60000)]

LIMIT

In [ ]:
cur.execute("SELECT * FROM customers LIMIT 2")

In [ ]:
print(cur.fetchall())

[('Ahmed', 'Abrar', 'abrar@gmail.com', 50000), ('Jan', 'ALi', 'ALi@gmail.com', 60000)]

Deleting a table

In [ ]:
cur.execute('DROP TABLE customers')
con.commit()

In [ ]:
cur.execute('SELECT * FROM customers')

OperationalError: ignored

combining all these

In [ ]:
con=sqlite3.connect('mydb.db')
cur=con.cursor()
cur.execute("CREATE TABLE customers(name TEXT , last_name TEXT , email TEXT , salary REAL)")

In [ ]:
def addOne(name,last_name,email,salary):
  con=sqlite3.connect('mydb.db')
  cur=con.cursor()
  cur.execute('INSERT INTO customers VALUES (?,?,?,?)',(name,last_name,email,salary))
  con.commit()
  con.close()

def addMany(entries):
  con=sqlite3.connect('mydb.db')
  cur=con.cursor()
  cur.execute('INSERT INTO customers VALUES (?,?,?,?)',entries)
  con.commit()
  con.close()
def showAll():
  con=sqlite3.connect('mydb.db')
  cur=con.cursor()
  cur.execute("SELECT * FROM customers")
  con.commit()
  print(cur.fetchall())
  con.close()

def deleteOne(id):
  con=sqlite3.connect('mydb.db')
  cur=con.cursor()
  cur.execute("DELETE FROM customers WHERE id=(?)",id)
  con.commit()
  con.close()

In [ ]:
addOne('name','second','asd@gmail.com',2342)

In [ ]:
showAll()

[('name', 'second', 'asd@gmail.com', 2342.0)]

In [ ]:
data=[
    ('Jabar','Kahn','jabar@gmail.com',8000),
    ('Mehemt','Kahn','mehmet@gmail.com',9000),
    ('Murad','Shah','Murad@gmail.com',3000),
]

In [ ]:
addMany(data)

ProgrammingError: ignored